<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="shvarov-ipm-demo.ZPM">
    <Module>
      <Name>shvarov-ipm-demo</Name>
      <Version>1.0.1</Version>
      <Description>Basic InterSystems IRIS Development Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="shvarov.sample.PKG"/>
      <UnitTest Name="/tests" Package="shvarov.sample.unittests" Phase="test"/>

    </Module>
  </Document>
</Export>